.event {
    background-color: black;
    margin-bottom: 65px;
}

.event a {
    color: white;
    text-decoration: none;
}

.event .content-wrapper {
    display: grid;

    grid-template-columns: 1fr;
    column-gap: 30px;
    padding: 50px;
}

.event .image-wrapper {
    height: 350px;
}

.event .content-wrapper {
    padding: 55px 15px 15px;
    position: relative;
}

.event .content-wrapper .event-title {
    margin-bottom: 0;
    margin-top: 5px;
}

.event .content-wrapper .date {
    background-color: green;
    width: 70px;
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
    position: absolute;
    top: -40px;
}

.event .content-wrapper .day {
    background-color: white;
    font-size: 28px;
    color: black;
    padding: 10px 5px;
}

.event .content-wrapper .month {
    background-color: #ff00e9;
    padding: 5px;
}