.Main-News {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .Main-News .News-Article {
    width: 50%;
    background-color: white;
  }
  .Main-News .News-Article .image-wrapper {
    height: 250px;
  }
  
  .Main-News .News-Article .info-wrapper {
    padding: 30px;
  }
  .Main-News .News-Article .info-wrapper .news-title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }